/*Style properties*/
.verticalTicksClass{
	stroke: #000;
}
.xlinesClass{
	stroke: : #000;
	fill:none;
}
.headerTicksClass,.footerLineClass{
	stroke: #000;
}
.horizontalLinesClass,.verticalLinesClass,.yaxisTicksClass{
	stroke: #000000;
	stroke-width:1px;
}
.crosstabRectClass{
	fill:blue;
}
.containerClass{
	stroke: #000;
	fill:transparent;
}
.backgroundBoxClass{
	stroke: #000;
	fill:#F7F7F7;
}
.titleBoxClass{
	stroke: #2873e2;
	fill: #d4e4fc;
}
.titleTextClass{
	fill: #2873e2;
}
.svgPoly{
  fill:none;
  stroke: #1F7ACB;
  stroke-width:6;
}
.graphCircle{
  stroke:#1F7ACB;
  stroke-width:2;
  fill:#fff;
}